/* Import CSS */
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/moon.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/sun.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 4000px;
    font-family: 'Jost', sans-serif;
    background-color: #fff;
}

/* Universal Classes */
.btn {
    color: #ffffff;
    background-color: #00a63f;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 50px;
    line-height: 18px;
    border-radius: 8px;
    border: 1px solid #00a63f;
    cursor: pointer;
    transition: all 500ms;
}

.btn:hover {
    color: #ffffff;
    background-color: #008030;
    border-color: #00732c;
}

.title span {
    display: block;
    text-transform: uppercase;
    color: #7e7d7d;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 30px;
}

.title h2 {
    color: #3f3a64;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
}

.container {
    max-width: 1200px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 27px;
    color: #666;
    opacity: .8;
}

.radius-image {
    border-radius: 8px;
}

#corpBody.disable-scroll {
    height: 100%;
    overflow-y: hidden;
}

/** HEADER */
.corpHeader {
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
    z-index: 100;
    transition: all 400ms ease 0s;
}

.corpHeader .navbar {
    padding: 0;
}

.corpNavbar__logo {
    font-size: 30px;
    font-weight: 600;
    color: #fff !important;
}

.corpNavbar__logo::after {
    content: "Vision to your Future";
    display: block;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    padding-left: 46px;
    top: -5px;
    opacity: 0.9;
}

#corpNavbar .nav-item {
    padding: 14px 0 10px;
}

#corpNavbar .nav-item .nav-link {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600; 
    color: #fff;
    opacity: 0.8;
}

#corpNavbar .nav-item.active .nav-link {
    color: #ffffff;
    opacity: 1;
}

#corpNavbar .nav-drop {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    transform: translateX(-50px);
}

#corpNavbar .nav-drop::before {
    content: '';
    display: block;
    background-color: #fff;
    height: 14px;
    width: 14px;
    position: absolute;
    top: -7px;
    left: 49%;
    transform: translateX(-50%) rotateZ(45deg);
    z-index: 1001;
}

#corpNavbar .nav-drop a.dropdown-item {
    color: #3f3a64;
    padding: 6px 20px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.8;
}

.dropdown-item {
    text-transform: uppercase;
    font-weight: 600; 
    color: #3f3a64;
    opacity: 0.8;
}

.dropdown-item:hover {
    color: #3f3a64;
    background-color: transparent;
}

.corpHeader .navbar-toggler {
    border: none;
}

.corpHeader .navbar-toggler-icon.fa {
    border: none;
    font-size: 20px;
    color: #fff;
    line-height: 34px;
}

button.navbar-toggler .icon-expand {
    display: none;
}

button.navbar-toggler.collapsed .icon-expand {
    display: block;
}

button.navbar-toggler .icon-close{
    display: block;
}

button.navbar-toggler.collapsed .icon-close{
    display: none;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/* SEARCH */
.search-wrapper {
    line-height: 45px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-sizing: border-box;
    background: #009f4d;
    outline: 0;
    transform-origin: 50%;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.search-wrapper.grow {
    transform: scale(70);
}

.corpSearchBtn {
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 100%;
    color: #ffffff;
    background-color: #009f4d;
    outline: 0;
    transform-origin: 50%;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    opacity: 1;
}

.corpSearchBtn.hide {
    opacity: 0;
}

.header-search .closing-icon {
    border: none;
    color: #FFF;
    height: 70px;
    width: 70px;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    background: none;
    position: absolute;
    right: 50px;
    top: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.header-search .closing-icon.show {
    visibility: visible;
    opacity: 1;
}

.search-box {
    height: 80px;
    width: 88%;
    margin-top: -40px;
    position: absolute;
    left: 50px;
    top: 50%;
    pointer-events: none;
    transform: translate(40px, 0);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.search-box input[type="text"] {
    color: #fff !important;
    background: transparent;
    height: 100vh;
    width: 100%;
    font-size: 54px;
    font-weight: 200;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
}

.search-box input[type="text"]::placeholder {
    color: #fff !important;
    font-weight: 300;
}

.search-box.show {
    opacity: 1;
    visibility: visible;
    transform: none;
    pointer-events: all;
}

.corpThemeBtn {
    height: 45px;
    width: 45px;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    border-radius: 100%;
    color: #ffffff;
    background-color: transparent;
    opacity: 0.9;
    outline: 0;
    transform-origin: 50%;
    transition: all 0.7;
    border: none;
}

/* HEADER ON SCROLL */
#corpHeader.headerScroll {
    height: 80px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border-bottom: none;
    background-color: #fff;
}

#corpHeader.headerScroll .corpNavbar__logo {
    color: #3f3a64 !important;
}

#corpHeader.headerScroll #corpNavbar .nav-item .nav-link {
    color: #3f3a64 !important;
}

#corpHeader.headerScroll #corpNavbar .nav-item.active .nav-link {
    color: #009f4d !important;
}

#corpHeader.headerScroll .corpThemeBtn {
    color: #3f3a64 !important;
}

/** CAROUSEL */
.corpCarousel {
    position: relative;
    height: auto;
    overflow: hidden;
}

#carouselWrapper .carousel-item {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

#carouselWrapper .carousel-item:first-child {
    background-image: url(../img/b1.jpg);
}
#carouselWrapper .carousel-item:nth-child(2) {
    background-image: url(../img/b3.jpg);
}
#carouselWrapper .carousel-item:nth-child(3){
    background-image: url(../img/b2.jpg);
}
#carouselWrapper .carousel-item:last-child{
    background-image: url(../img/b4.jpg);
}

#carouselWrapper .carousel-item .carousel-caption {
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
}

#carouselWrapper .arrow {
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 25px !important;
    top: auto;
    right: 25px !important;
    left: auto;
    z-index: 20;
    opacity: 1;
}

#carouselWrapper .carousel-control-prev.arrow {
    right: 95px !important;
}

#carouselWrapper .carousel-control-prev:hover,
#carouselWrapper .carousel-control-next:hover {
    color: #3f3a64;
    opacity: 1;
}

#carouselWrapper .carousel-control-prev span,
#carouselWrapper .carousel-control-next span{
    height: 50px;
    width: 50px;
    font-size: 20px;
    font-weight: 800;
    line-height: 50px;
    background-color: #fff;
    color: #3f3a64;
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
    border: 1px solid transparent;
    outline: none;
}

.carousel__overlay {
    display: block;
    background-color: #1d2a37b3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.overlay__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.overlay__content h1 {
    color: #ffffff;
    font-size: 65px;
    font-weight: 600;
    line-height: 1.1;
    /* color: #e6e8f6; */
    max-width: 800px;
    margin-bottom: 18px;
}

.overlay__content p {
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
    color: #fff;
    letter-spacing: 0.010em;
    opacity: .9;
    margin: 0;
}

.overlay__content .btn {
    margin-top: 30px;
}

.overlay1.animate__animated.animate__fadeInDown,
.overlay1.animate__animated.animate__flipInX {
    --animate-duration: 0.8s;
}

/* Wave animation */
.shape {
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.shape svg {
    width: 100%;
}

.shape path {
    fill: #fff;
    transition: all 0.5s;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

/** ABOUT */
.corpAbout ul.service__list li a span.fa {
    color: #009f4d;
    margin-right: 5px;
    opacity: .8;
}
.service__list a{
    text-decoration: none;
}
.col-lg-6 ul {
    list-style-type: none;
}

.corpAbout ul.service__list li a {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    display: block;
    color: #3f3a64;
}

.corpAbout ul.service__list li {
    display: block;
    margin-bottom: 15px;
}

/** FEATURES */

.corpFeatures {
    background-color: #f8f9fa;
    transition: all 500ms;
}

.Feat-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.corpFeatures .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.item {
    padding: 40px 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    background-color: #fff;
    transition: .3s ease;
    -webkit-transition: .3s ease;
}

.box-wrap h4 a {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: #3f3a64;
}

.item a {
    text-decoration: none;
}

.item a:hover {
    color: #00a63f;
    background-color: transparent;
    transition: all .5s;

}

.box-wrap {
    transform: translateY(0);
    transition: all .5s;

}

.box-wrap:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
}

/** SERVICES */

.corpServices .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.services-item img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.services-info {
    padding: 0 20px;
}

.services-info a.title {
    font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;
    text-align: center;
    background: #fff;
    padding: 12px 35px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 8px;
    transform: translateY(-25px);
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    text-decoration: none;
    transition: all 0.3s;
}

.services-info:hover a.title {
    color: #009f4d;
}

.services-info .detail {
    margin: -10px 10px 0 10px;
}

.btn-style1 {
    color: #3f3a64;
    background-color: transparent;
    border: 1px solid transparent;
}

.btn-style1:hover {
    color: #009f4d;
    background-color: transparent;
    border-color: transparent;
}

/** GALLERY */

.corpGallery {
    background-color: #f8f9fa;
}

.gal-item {
    padding-left: 16px;
    padding-right: 16px;
}

.gal-item a {
    overflow: hidden;
}
.d-block{
    display: block;
}

a.zoom {
    overflow: hidden;
    position: relative;
}

a.zoom img {
    transition: 0.3s ease-in-out;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.gal-item a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 42, 55, 0.7);
    transition: all 0.3s;
    opacity: 0;
    z-index: 1;
}

.gal-item a:hover::before {
    opacity: 1;
}

.gal-item img {
    max-width: 100%;
    transition: all 0.3s;
}

.gal-item a:hover img {
    overflow: hidden;
    transform: scale(1.1);
}

span.hover-content {
    position: absolute;
    bottom: -100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    padding: 46px 50px;
    color: #ffffff;
    z-index: 2;
}

a.zoom:hover .hover-content {
    bottom: 0;
    visibility: visible;
    opacity: 1;
}

.overlay-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(29, 42, 55, 0.7);
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

span.hover-content .title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

span.hover-content .content {
    font-size: 18px;
    color: #eee;
    display: block;
}

.company-logo {
    border-top: 1px solid #eee;
}

.company-logo img {
    padding: 0 18px;
}

/** Skills */
.corpSkills .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.radius-image {
    border-radius: 8px;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}

.skill-info {
    margin-bottom: 30px;
    text-align: left;
    position: relative;
}

h6.skill-tittle {
    font-size: 18px;
    color: var(--heading-color);
    margin-bottom: 10px;
    font-weight: 400;
}

.info1 h6.skill-tittle  {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 80%;
}

.info2 h6.skill-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 95%;
}

.info3 h6.skill-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 60%;
}

.info4 h6.skill-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 85%;
}

.skill {
    display: flex;
    height: 4px;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #f7f7f7;
    border-radius: 0.25rem;
}

.skill-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #00a63f;
    transition: width 0.6s ease;
}

.skill-bar.gradient-1 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

.skill-bar.gradient-2 {
    color: #eece90;
    background-color: #d45529;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
}

.skill-bar.gradient-3 {
    color: #5c51ff;
    background-color: #f646a9;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}

.skill-bar.gradient-4 {
    color: #e5529a;
    background-color: #e77654;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
}


.skill-bar-striped {
    background-image: none;
    background-size: cover;
}

.skill-bar.gradient-1:before, .skill-bar.gradient-2:before, .skill-bar.gradient-3:before, .skill-bar.gradient-4:before {
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: .3;
}

.skill-bar.gradient-1:after, .skill-bar.gradient-2:after, .skill-bar.gradient-3:after, .skill-bar.gradient-4:after {
    height: 13px;
    width: 13px;
    border: 3px solid;
    background-color: #fff
}

/* SKILLS */
.corpSkills .skill-content {
    padding: 20px 0 0 20px;
}

.corpSkills .skill__image {
    height: auto;
    max-width: 100%;
    border-radius: 8px;
}

.corpSkills .progress-info {
    text-align: left;
    position: relative;
    margin-bottom: 30px;
}

.corpSkills .progress-info .progress-title h6 {
    color: #3f3a64;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.corpSkills .progress-info .progress-title {
    display: grid;
    grid-template-columns: 1fr auto;
}

.corpSkills .progress-info.progress1 .progress-title {
    width: 80%;
}

.corpSkills .progress-info.progress2 .progress-title {
    width: 95%;
}

.corpSkills .progress-info.progress3 .progress-title {
    width: 60%;
}

.corpSkills .progress-info.progress4 .progress-title {
    width: 85%;
}

.corpSkills .progress-info .progress-bar::before {
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: .3;
}

.corpSkills .progress-info .progress-bar::after {
    height: 13px;
    width: 13px;
    border: 3px solid;
    background-color: #fff;
}

.corpSkills .progress-info.progress1 .progress-bar.bar1 {
    color: #61fded; 
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
    background-size: cover;
}

.corpSkills .progress-info.progress2 .progress-bar.bar2 {
    color: #eece90;
    background-color: #d45529;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
    background-size: cover;
}

.corpSkills .progress-info.progress3 .progress-bar.bar3 {
    color: #5c51ff;
    background-color: #f646a9;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
    background-size: cover;
}

.corpSkills .progress-info.progress4 .progress-bar.bar4 {
    color: #e5529a;
    background-color: #e77654;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
    background-size: cover;
}

.corpSkills .progress-info.progress1 .progress-bar.bar1::before,
.corpSkills .progress-info.progress1 .progress-bar.bar1::after {
    content: "";
    position: absolute;
    right: 20%;
    top: 94%;
    border-radius: 50%;
    transform: translate(50%, -50%)
}

.corpSkills .progress-info.progress2 .progress-bar.bar2::before,
.corpSkills .progress-info.progress2 .progress-bar.bar2::after {
    content: "";
    position: absolute;
    right: 5%;
    top: 94%;
    border-radius: 50%;
    transform: translate(50%, -50%)
}

.corpSkills .progress-info.progress3 .progress-bar.bar3::before,
.corpSkills .progress-info.progress3 .progress-bar.bar3::after {
    content: "";
    position: absolute;
    right: 40%;
    top: 94%;
    border-radius: 50%;
    transform: translate(50%, -50%)
}

.corpSkills .progress-info.progress4 .progress-bar.bar4::before,
.corpSkills .progress-info.progress4 .progress-bar.bar4::after {
    content: "";
    position: absolute;
    right: 16%;
    top: 94%;
    border-radius: 50%;
    transform: translate(50%, -50%)
}

/* TESTIMONIAL */
.corpTestimonials {
    background-color: #f8f9fa;
}

.corpTestimonials .testimonial-content {
    position: relative;
    padding: 40px 30px;
    max-width: 900px;
    margin: auto;
}

.corpTestimonials .testimonial-content .item {
    padding: 0 0 40px 0;
    background-color: #f8f9fa;
    box-shadow: none;
    transition: all 500ms;
}

.corpTestimonials .testimonial-item p {
    font-size: 18px;
    line-height: 28px;
    color: #666;
    opacity: .8;
    margin-bottom: 1.5em;
}

.corpTestimonials .testimonial-data .avatar {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
    margin-right: 20px;
}

.corpTestimonials .testimonial-data .avatar img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}


.corpTestimonials .testimonial-data .info {
    text-align: left;
}

.corpTestimonials .testimonial-data .info span {
    display: inline-block;
    font-size: 17px;
    font-style: normal;
    margin-bottom: 0;
    opacity: 0.8;
    color: #666;
}

.corpTestimonials .testimonial-data .info h5 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    color: #3f3a64;
}

.corpTestimonials .owl-carousel.owl-theme .owl-dots {
    margin-top: 30px;
}

.corpTestimonials .owl-carousel.owl-theme .owl-dots .owl-dot span{
    background-color: #3f3a64;
    opacity: 0.5;
    transition: all 0.25s ease 0s;
}

.corpTestimonials .owl-carousel.owl-theme .owl-dots .owl-dot.active span,
.corpTestimonials .owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
    opacity: 1;
    transform: scale(1.5,1.5);
}

/* NEWS */
.corpNews .card {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.04);
}

.corpNews .card .card-header {
    border: none;
}

.corpNews .card-header .card-thumbnail {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-sizing: inherit;
    overflow: hidden;
    /* border-color: transparent; */
}

.corpNews .card-header .card-thumbnail .card-img-top {
    width: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.corpNews .card:hover .card-header .card-thumbnail .card-img-top {
    transform: scale(1.1);
}

.corpNews .card .card-body .card-text {
    color: #999;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}

.corpNews .card .card-body .card-title {
    color: #3f3a64;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 10px;
    transition: all 0.3s;
}

.corpNews .card .card-body .card-title:hover {
    color: #009f4d;
    cursor: pointer;
}

.corpNews .card .card-footer {
    background: #fff;
    border-top: 1px solid #eee;
}

.corpNews .card .card-footer .card-author {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
}

.corpNews .card .card-footer .footer-content span {
    color: #666;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.6;
}

.corpNews .card .card-footer .footer-content a {
    text-decoration: none;
    color: #3f3a64;
    font-weight: 600;
    line-height: 26px;
    transition: all 0.3s;
}

.corpNews .card .card-footer .footer-content a:hover {
    color: #009f4d;
}

.corpNews .card .card-footer .footer-date p {
    font-size: 15px;
}

/* SUBSCRIBE */
.corpSubscribe {
    background-image: url(../img/map.png);
    background-color: #151421;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.corpSubscribe .subscribe-header h3 {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}

.corpSubscribe .subscribe-header p {
    color: #eee;
}

.corpSubscribe .subscribe-form .input-group-prepend {
    border-color: rgba(255, 255, 255, 0.15);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba(0, 0, 0, 0.25);
}

.corpSubscribe .subscribe-form .input-group {
    width: 100%;
    justify-content: center;
}

.corpSubscribe .subscribe-form .input-group-text {
    color: #999;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0.25);
    border-color: rgba(255, 255, 255, 0.15);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 50px;
}

.corpSubscribe .subscribe-form .input-group-text i {
    display: inline-block;
}

.corpSubscribe .subscribe-form .input-group input[type="email"] {
    margin: 0;
    color: #999;
    background-color: rgba(0, 0, 0, 0.2);
    width: 33%;
    padding: 14px 20px;
    font-size: 16px;
    line-height: 28px;
    border-radius: 0;
    border: 1px solid #eee;
    border-color: rgba(255, 255, 255, 0.15);
    border-left: none;
    outline: none;
}

.corpSubscribe .subscribe-form .input-group-append .btn {
    padding: 0 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 16px;
}

/* FOOTER */
.corpFooter {
    background: #151421;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.corpFooter .footer-col-1 .footer-logo .navbar-brand {
    margin: 0;
    padding: 0;
    color: #fff;
    opacity: 1;
}

.corpFooter .footer-col-1 .footer-logo i {
    font-size: 30px;
    font-weight: 600;
    color: #009f4d;
    margin-right: 5px;
    vertical-align: bottom;
}

.corpFooter .footer-col-1 .footer-logo a p {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
    vertical-align: bottom;
    opacity: 1;
}

.corpFooter .footer-col-1  .footer-logo span {
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding-left: 40px;
    opacity: 0.9;
    text-transform: none;
}

.corpFooter .footer-col-1 p {
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
}

.corpFooter .footer-col-1 .footer-social a {
    color: #97a1a9;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background: none;
    margin-right: 15px;
    font-size: 16px;
    border-radius: 50%;
    transition: all 0.3s;
    opacity: 0.6;
}

.corpFooter .footer-col-1 .footer-social a:hover {
    color: #fff;
    opacity: 1;
}

.corpFooter .footer-col h5 {
    position: relative;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
}

.corpFooter .footer-col ul {
    list-style: none;
}

.corpFooter .footer-col li {
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
}

.corpFooter .footer-col a {
    text-decoration: none;
    color: #97a1a9;
    opacity: 0.8;
    transition: all 0.3s;
}

.corpFooter .footer-col a:hover {
    color: #fff;
    opacity: 1;
}

/* COPYRIGHT */
.corpCopyright {
    padding: 1.5em 0;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.corpCopyright p {
    color: #7f8a94;
    font-size: 17px;
    letter-spacing: 0.5px;
    opacity: 1;
}

.corpCopyright a {
    text-decoration: none;
    color: #009f4d;
    transition: all 0.3s;
}

.corpCopyright a:hover {
    color: #fff;
}

/** SCROLL UP BUTTON */
#backToTop.backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 35px;
    background-color: #009f4d;
    cursor: pointer;
    z-index: 1000;
    border: none;
    outline: none;
    transition: 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

#backToTop.backToTopBtn i {
    font-size: 13px;
    color: #fff;
}

#backToTop.backToTopBtn.show {
    visibility: visible;
    opacity: 1;
}

/*? LIGHT THEME */
#corpBody {
    background-color: #ffffff;
    transition: all 500ms;
}
#switchButton .gg-sun {
    display: none;
    
}
#switchButton .gg-moon {
    display: block;
}

/*? DARK THEME */
.dark#corpBody {
    background-color: #151421;
}

.dark #features,
.dark #gallery,
.dark #testimonials{
    background-color: #100f19;
}

.dark #switchButton .gg-moon {
    display: none;
}

.dark #switchButton .gg-sun {
    display: block;
    color: #eee;
}

.dark#corpBody .title h2 {
    color: #eee;
}

.dark#corpBody #corpHeader.headerScroll {
    background-color: #151421;
}

.dark#corpBody #corpHeader.headerScroll a.corpNavbar__logo {
    color: #eee !important;
}

.dark#corpBody #corpHeader.headerScroll #corpNavbar .nav-item .nav-link {
    color: #eee !important;
}

.dark#corpBody #corpHeader.headerScroll #corpNavbar .nav-item.active .nav-link {
    color: #009f4d !important;
}

.dark#corpBody #corpHeader.headerScroll #corpNavbar .nav-drop{
    background-color: #151421;
    border-color: #151421;
}

.dark#corpBody #corpHeader.headerScroll #corpNavbar .nav-drop::before {
    background-color: #151421;
}

.dark#corpBody #corpHeader.headerScroll #corpNavbar .nav-drop .dropdown-item{
    color: #eee;
}

.dark#corpBody .shape path {
    fill: #151421;
}

.dark#corpBody .corpAbout ul.service__list li a {
    color: #eee;
}

.dark#corpBody .corpFeatures .text-para {
    color: #c2c2c2;
}

.dark#corpBody .corpFeatures .Feat-item .box-wrap {
    background-color: #151421;
}

.dark#corpBody .corpFeatures .box-wrap h4 a {
    color: #eee;
}

.dark#corpBody .corpServices .services-info a.title {
    background-color: #151421;
    color: #eee;
}

.dark#corpBody .corpServices .services-info .detail {
    color: #c2c2c2;
}

.dark#corpBody .corpServices a.btn-style1 {
    color: #eee !important;
}

.dark#corpBody .company-logo {
    border-top-color: rgba(255, 255, 255, 0.1);
}

.dark#corpBody .corpSkills .progress-info .progress-title h6,
.dark#corpBody .corpSkills .progress-info .progress-title span{
    color: #eee;
}

.dark#corpBody .corpTestimonials .testimonial-content .item {
    background-color: #100f19;
}

.dark#corpBody .corpTestimonials .testimonial-data .info h5 {
    color: #eee;
}

.dark#corpBody .corpTestimonials .testimonial-data .info span,
.dark#corpBody .corpTestimonials .testimonial-item p {
    color: #c2c2c2;
}

.dark#corpBody .corpTestimonials .owl-carousel.owl-theme .owl-dots .owl-dot span {
    background-color: #213364;
}

.dark#corpBody .corpNews .card .card-body .card-title,
.dark#corpBody .corpNews .card .card-footer .footer-content a {
    color: #eee;
}

.dark#corpBody .corpNews .card .card-footer {
    background-color: #151421;
    border-top-color: rgba(255, 255, 255, 0.1);
}

/** RESPONSIVE */

/* LAPTOP-M*/
@media only screen and (max-width: 1280px) {
    #carouselWrapper .overlay__content h1 {
        font-size: 55px;
    } 
    .container {
        max-width: 1140px;
    }
}

/* LAPTOP-S */
@media only screen and (max-width: 991px) {
    .title h2 {
        font-size: 32px !important;
        line-height: 40px;
    } 

    #corpHeader {
        height: auto;
        background-color: none;
    }
    #corpHeader.active {
        background-color: rgba(0, 0, 0, 0.7);
    }

    #corpHeader.active-scroll {
        background-color: #fff;
    }

    #corpHeader.headerScroll {
        height: auto !important;

    }

    .corpHeader .container {
        /* position: absolute; */
        padding: 0 40px;
        transition: all 0.7s;
    }

    .header-search .closing-icon {
        right: 50px;
        z-index: 200;
    }
    .corpThemeBtn {
        position: absolute;
        top: 15px;
        right: 35px;
    }

    .corpSearch,
    .search-wrapper {
        position: absolute;
        top: 15px;
        right: 94px;
    }

    .search-box {
        top: 10%;
        left: -30%;
    }

    .search-box input[type="text"] {
        position: absolute;
        right: -50%;
        width: initial;
    }

    .navbar-toggler-icon {
        background-image: none !important;
        padding: 0;
        width: 34px;
        height: 34px;
        background-color: #009f4d;
        border-radius: 4px;
        text-align: center;
    }

    .navbar-toggler-icon.fa {
        font-size: 20px;
        line-height: 1.2em;
        color: #fff;
        line-height: 34px;
    }

    .corpHeader .navbar-nav {
        -webkit-animation-name: none;
        animation-name: none;
        float: left;
        text-align: center;
        width: 100%;
        padding: 20px 0 0px
    }

    #carouselWrapper .carousel-item {
        min-height: 700px;
    }
    #carouselWrapper .overlay__content h1 {
        font-size: 50px;
    }
    .corpFooter .footer-col h5 {
        margin-bottom: 20px;
        font-size: 20px;
    }
    .container {
        max-width: 960px;
    }
}


/* TABLET */
@media only screen and (max-width: 768px) {
    .corpHeader .container{
        padding: 0 25px;
    }

    #carouselWrapper .carousel-item {
        min-height: 650px;
        padding-bottom: 40px;
    }
    #carouselWrapper .overlay__content h1 {
        font-size: 45px;
    }
    .container,
    .container-sm,
    .container-md {
        max-width: 720px;
    }
}

/* MOBILE-L */
@media only screen and (max-width: 480px) {
    .title h2 {
        font-size: 30px !important;
        line-height: 38px;
    } 
    .corpHeader .container {
        padding: 0 15px;
    }
    
    #carouselWrapper .carousel-item {
        min-height: 550px;
    }
    #carouselWrapper .overlay__content h1 {
        font-size: 36px;
    }
    .box-wrap h4 a {
        margin-bottom: 7px;
    }
    .corpSubscribe .subscribe-form .input-group-text i {
        text-align: center;
    }
    .corpSubscribe .subscribe-form .input-group input[type="email"] {
        width: 50%;
    }
    .container {
        max-width: 540px;
    }
}

/* MOBILE-M */
@media only screen and (max-width: 376px) {
    .title h2 {
        font-size: 24px !important;
        line-height: 30px;
    } 
    .navbar-brand {
        font-size: 26px;
    }
    .corpNavbar__logo::after {
        padding-left: 40px;
    }

    #carouselWrapper .overlay__content h1 {
        font-size: 27px;
    }
    .corpAbout ul.service__list li a {
        font-size: 16px;
        line-height: 27px;
    }
    .box-wrap h4 a {
        font-size: 18px;
        margin-top: 15px;
    }
    .corpFooter .footer-col-1 .navbar-brand p {
        font-size: 26px;
    }
    .corpSubscribe .subscribe-form .input-group-prepend {
        width: 42px;
    }
    .corpSubscribe .subscribe-form .input-group-text {
        padding: 0 12px;
    }
}






