* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Jost', sans-serif;
}

/* Universal Classes */

.btn {
    color: #ffffff;
    background-color: #00a63f;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 50px;
    line-height: 18px;
    border-radius: 8px;
    border: 1px solid #00a63f;
    cursor: pointer;
    transition: all 500ms;
}

.btn:hover {
    color: #ffffff;
    background-color: #008030;
    border-color: #00732c;
}

.title span {
    display: block;
    text-transform: uppercase;
    color: #7e7d7d;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 30px;
}

.title h2 {
    color: #3f3a64;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
}

.title p {
    font-size: 17px;
    color: #666;
    line-height: 27px;
    opacity: 0.8;
}

.container {
    max-width: 1200px;
}

/* HEADER */
.corpHeader {
    /* height: 80px; */
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.corpNavbar {
    display: flex;
    justify-content: space-between;
}

.corpNavbar__logo {
    font-size: 30px;
    font-weight: 600;
    color: #3f3a64 !important;
}

.corpNavbar__logo::after {
    content: "Vision to your Future";
    display: block;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    padding-left: 46px;
    top: -5px;
    opacity: 0.9;
}

.nav-link {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600; 
    padding: 14px 0 10px;
    color: #3f3a64;
    opacity: 0.7;
}

.nav-link:hover, .nav-link:focus{
    
}

.dropdown-item {
    text-transform: uppercase;
    font-weight: 600; 
    color: #3f3a64;
    opacity: 0.7;
}

.dropdown-item:hover {
    color: #3f3a64;
    background-color: transparent;
}

.corpSearchBtn {
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 100%;
    color: #ffffff;
    background-color: #009f4d;
    outline: 0;
    transform-origin: 50%;
    transition: all 0.7;
    border: none;
}

.corpThemeBtn {
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 100%;
    color: #ffffff;
    background-color: #009f4d;
    outline: 0;
    transform-origin: 50%;
    transition: all 0.7;
    border: none;
}

/* 
.nav-item.active .nav-link {
    color: #009f4d;
} */