* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Jost', sans-serif;
}

/* Universal Classes */

.btn {
    color: #ffffff;
    background-color: #00a63f;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 50px;
    line-height: 18px;
    border-radius: 8px;
    border: 1px solid #00a63f;
    cursor: pointer;
    transition: all 500ms;
}

.btn:hover {
    color: #ffffff;
    background-color: #008030;
    border-color: #00732c;
}

.title span {
    display: block;
    text-transform: uppercase;
    color: #7e7d7d;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 30px;
}

.title h2 {
    color: #3f3a64;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
}

.title p {
    font-size: 17px;
    color: #666;
    line-height: 27px;
    opacity: 0.8;
}

.container {
    max-width: 1200px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.title-big {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;
}

.title-small {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}

p {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 27px;
    color: #666;
    opacity: .8;
}

.py-5 {
    padding-bottom: 3rem;
}

/*! About */



/*! Features */

.corpFeatures {
    background-color: #f8f9fa;

}

.Feat-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.corpFeatures .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.item {
    padding: 40px 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    background-color: #fff;
    transition: .3s ease;
    -webkit-transition: .3s ease;
}

.box__wrap h4 a {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: #3f3a64;
}

.item a {
    text-decoration: none;
}

.item a:hover {
    color: #00a63f;
    background-color: transparent;
    transition: all .5s;

}

.box__wrap {
    transform: translateY(0);
    transition: all .5s;

}

.box__wrap:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
}

/*! Services */

.corpServices .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.services-item img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.services-info {
    padding: 0 20px;
}

.services-info a.title {
    font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;
    text-align: center;
    background: #fff;
    padding: 12px 35px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 8px;
    transform: translateY(-25px);
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    text-decoration: none;
}

.services-info:hover a.title {
    color: #009f4d;
}

.services-info .detail {
    margin: -10px 10px 0 10px;
}

.btn-style1 {
    color: #3f3a64;
    background-color: transparent;
    border: 1px solid transparent;
}

.btn-style1:hover {
    color: #008030;
    background-color: transparent;
    border-color: transparent;
}

/*! Gallery */

.corpGallery {
    background-color: #f8f9fa;
}

.gal-item {
    padding-left: 16px;
    padding-right: 16px;
}

.gal-item a {
    overflow: hidden;
}
.d-block{
    display: block;
}

a.zoom {
    overflow: hidden;
    position: relative;
}

a.zoom img {
    transition: 0.3s ease-in-out;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.gal-item a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 42, 55, 0.7);
    transition: all 0.3s;
    opacity: 0;
    z-index: 1;
}

.gal-item a:hover::before {
    opacity: 1;
}

.gal-item img {
    max-width: 100%;
    transition: all 0.3s;
}

.gal-item a:hover img {
    overflow: hidden;
    transform: scale(1.1);
}

span.hover-content {
    position: absolute;
    bottom: -100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    padding: 46px 50px;
    color: #ffffff;
    z-index: 2;
}

a.zoom:hover .hover-content {
    bottom: 0;
    visibility: visible;
    opacity: 1;
}

.overlay-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(29, 42, 55, 0.7);
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

span.hover-content .title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

span.hover-content .content {
    font-size: 18px;
    color: #eee;
    display: block;
}

.company-logo {
    border-top: 1px solid #eee;
}

.company-\logo img {
    padding: 0 18px;
}




/*! Skills */

.corpSkills .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.radius-image {
    border-radius: 8px;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}

.skill-info {
    margin-bottom: 30px;
    text-align: left;
    position: relative;
}

h6.skill-tittle {
    font-size: 18px;
    color: var(--heading-color);
    margin-bottom: 10px;
    font-weight: 400;
}

.info1 h6.skill-tittle  {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 80%;
}

.info2 h6.skill-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 95%;
}

.info3 h6.skill-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 60%;
}

.info4 h6.skill-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 85%;
}

.skill {
    display: flex;
    height: 4px;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #f7f7f7;
    border-radius: 0.25rem;
}

.skill-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #00a63f;
    transition: width 0.6s ease;
}

.skill-bar.gradient-1 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

.skill-bar.gradient-2 {
    color: #eece90;
    background-color: #d45529;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
}

.skill-bar.gradient-3 {
    color: #5c51ff;
    background-color: #f646a9;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}

.skill-bar.gradient-4 {
    color: #e5529a;
    background-color: #e77654;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
}


.skill-bar-striped {
    background-image: none;
    background-size: cover;
}

.skill-bar.gradient-1:before, .skill-bar.gradient-2:before, .skill-bar.gradient-3:before, .skill-bar.gradient-4:before {
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: .3;
}

.skill-bar.gradient-1:after, .skill-bar.gradient-2:after, .skill-bar.gradient-3:after, .skill-bar.gradient-4:after {
    height: 13px;
    width: 13px;
    border: 3px solid;
    background-color: #fff
}

.skill-bar.gradient-1:after, .skill-bar.gradient-1:before {
    content: "";
    position: absolute;
    right: 20%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

.skill-bar.gradient-2:after, .skill-bar.gradient-2:before {
    content: "";
    position: absolute;
    right: 5%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

.skill-bar.gradient-3:after, .skill-bar.gradient-3:before {
    content: "";
    position: absolute;
    right: 40%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

.skill-bar.gradient-4:after, .skill-bar.gradient-4:before {
    content: "";
    position: absolute;
    right: 16%;
    top: 99.3%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}


/*! BACK TO TOP  */
.backToTop {
    width: 50px;
    height: 50px;
    background: #008030;
    border-radius: 50px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    line-height: 50px;
    text-align: center;
    display: block;
    color: #f8f9fa;
    transition: all .01s;
    box-shadow: -4px 4px 24px -10px #00732c;
    visibility: hidden;
    opacity: 0;

}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.backToTop:hover{
    color: #f8f9fa;
}




@media (min-width: 768px) .container,
.container-sm,
.container-md {
    max-width: 720px;
}

@media (min-width: 768px) .pb-md-4,
.py-md-4 {
    padding-bottom: 1.5rem !important;
}

@media (min-width: 768px) .pt-md-4,
.py-md-4 {
    padding-top: 1.5rem !important;
}

@media (min-width: 992px) .pr-lg-5,
.px-lg-5,
mt-lg-5 {
    padding-right: 3rem !important;
}

@media (min-width: 992px) .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

@media (min-width: 1280px) .container {
    max-width: 1200px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1280px) {
    .container {
    max-width: 1200px;
    }
}